@model mouzikty.Models.Artiste

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + Model.Image;
}

<h1>Details</h1>

<div>
    <h4>Artiste</h4>
    <hr />
    <dl class="row">
       
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd class="col-sm-2">
            <img src="@photoPath" asp-append-version="true" height="100" width="100" />
        </dd>
        
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
