@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>


        <p> <a href="/Music"><p>Musics</p><img src="~/images/Music.jpg" height="100" width="100" /></a>.</p>
        <p> <a href="/Artiste"><p>Artistes</p><img src="~/images/Artistes.jpg" height="100" width="100" /></a>.</p>
        <p> <a href="/Album"><p>Albums</p><img src="~/images/Album.jpg" height="100" width="100" /></a>.</p>

    </div>
